<div _ngcontent-mbo-c300="" class="login login-4 login-signin-on d-flex flex-row-fluid">
  <div _ngcontent-mbo-c300="" class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url(&#39;assets/bg-3.jpg&#39;);">
    <div _ngcontent-mbo-c300="" class="login-form text-center p-7 position-relative overflow-hidden">

      <div _ngcontent-mbo-c300="" class="d-flex flex-center mb-15">
        <img _ngcontent-mbo-c300="" src="assets/logo-vertical-dark.png" alt="logo" class="max-h-100">
      </div>



      <div _ngcontent-mbo-c300="" class="login-signin">
        <!---->

        <div _ngcontent-mbo-c300="" class="text-muted font-weight-bold mb-5">
          Insira seus dados para fazer login em sua conta:
        </div>

        <form _ngcontent-mbo-c300="" novalidate="" autocomplete="off" class="form ng-dirty ng-touched ng-valid">
          <label _ngcontent-mbo-c300="" for="username" class="sr-only">CPF ou número UFSCar</label>
          <div _ngcontent-mbo-c300="" class="form-group mb-5 py-0">
            <div _ngcontent-mbo-c300="" class="input-group input-group-solid">
              <div _ngcontent-mbo-c300="" class="input-group-prepend">
                <span _ngcontent-mbo-c300="" class="input-group-text">
                  <span _ngcontent-mbo-c300="" class="fas fa-fw fa-user icon-md"></span>
                </span>
              </div>
              <input _ngcontent-mbo-c300="" id="username" type="text" placeholder="CPF ou número UFSCar..." formcontrolname="username" required="" class="form-control h-auto form-control-solid py-4 pl-4 pr-8 ng-dirty ng-valid ng-touched">
            </div>
            <!---->
          </div>

          <label _ngcontent-mbo-c300="" for="password" class="sr-only">Digite sua senha...</label>
          <div _ngcontent-mbo-c300="" class="form-group mb-5 py-0">
            <div _ngcontent-mbo-c300="" class="input-group input-group-solid">
              <div _ngcontent-mbo-c300="" class="input-group-prepend">
                <span _ngcontent-mbo-c300="" class="input-group-text">
                  <span _ngcontent-mbo-c300="" class="fas fa-fw fa-lock icon-md"></span>
                </span>
              </div>
              <input _ngcontent-mbo-c300="" id="password" placeholder="Digite sua senha..." formcontrolname="password" class="form-control h-auto form-control-solid py-4 pl-4 pr-8 ng-dirty ng-valid ng-touched" type="password">
              <div _ngcontent-mbo-c300="" class="input-group-append">
                <button _ngcontent-mbo-c300="" type="button" class="btn px-4">
                  <i _ngcontent-mbo-c300="" class="fas fa-fw icon-md fa-eye"></i>
                </button>
              </div>
            </div>
            <!---->
          </div>

          <div _ngcontent-mbo-c300="" class="form-group d-flex flex-wrap justify-content-between align-items-center pt-0 mb-10">
            <div _ngcontent-mbo-c300=""></div>
            <a _ngcontent-mbo-c300="" routerlink="/login/recuperar-senha" title="Recuperar senha" class="text-muted text-hover-primary font-weight-bold" href="https://sistemas.ufscar.br/sagui/login/recuperar-senha">
              Esqueceu sua senha?
            </a>
          </div>

          <button _ngcontent-mbo-c300="" type="submit" class="btn btn-primary font-weight-bold px-15 py-3">
            <!---->
            Entrar
            <i _ngcontent-mbo-c300="" aria-hidden="true" class="fas fa-sign-in-alt ml-2"></i>
          </button>
        </form>
      </div>

    </div>
  </div>
</div>